<div class="register-container">
  <header class="header">
    <h1>Inti Wasi</h1>
  </header>

  <div class="register-card">
    <!-- Imagen IZQUIERDA -->
    <div class="register-left">
      <img src="/assets/images/bg-finanzas.png" alt="Imagen de registro" />
    </div>

    <!-- FORMULARIO DERECHA -->
    <div class="register-right">
      <h2>Registrarse</h2>

      <form>

        <input type="text" class="input-field" placeholder="Nombre completo" />
        <input type="email" class="input-field" placeholder="Rol" />
        <input type="password" class="input-field" placeholder="Contraseña" />

        <button type="submit" class="btn-register">Registrar</button>

        <p class="login-text">
          Ya tienes una cuenta?
          <a class="login-link" routerLink="/auth/login">Iniciar Sesión</a>
        </p>
      </form>
    </div>
  </div>
</div>
