.mat-table {
  width: auto;
  max-height: 70vh;
  overflow: auto;
  padding: 0 10px;
}

.dialog-container {
  width: 105vh;
  max-height: 65vh;
  overflow: visible;
}

.dialog-title {
  white-space: nowrap;
  margin-left: 25rem;
  font-weight: bold;
  font-size: 24px;
}

.btn-close {
  margin:1rem 2rem -2rem;
  background-color: #d9830e;
  color: white;
}
