.mat-table {
  width: auto;
  max-height: 70vh;
  overflow: auto;
  padding: 0 10px;
}

.dialog-container {
  width: 95vh;
  max-height: 55vh;
  overflow: auto;
}

.dialog-title {
  margin: 0.5rem 2rem;
  font-weight: bold;
  font-size: 24px;
}

.btn-close {
  margin: 1rem 2rem;
  background-color: #d9830e;
  color: white;
}
