.simulation-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

mat-form-field {
  flex: 1;
  min-width: 220px;
}

.actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 16px;
}


button {
  padding: 10px 20px;
  border-radius: 24px;
  border: none;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  transition: filter 0.15s ease, transform 0.1s ease;
  background-color: black;
}

.my-btn {
  background-color: #d9830e; /* Green */
  color: white;
}


.btn-cancel {
  background-color: #f44336 !important;
  color: white !important;
  margin-right: 12px;
}

.btn-cancel:hover {
  background-color: #d32f2f !important;
}

button:hover {
  filter: brightness(0.95);
  transform: scale(1.05);
  color: #fff;
  background-color: #FAA434;
}


.title-form {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 0px;
}
